

.form_label{
    font-family: Neo Sans Arabic;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    color: #00A0D7;
}

.form_input {
width: 470px;
height: 40px;
border: none;
font-size: 15px;
background: #F5F5F5;
border-radius: 8px;
margin-bottom: 35px;
}

.form_title{
    font-family: Neo Sans Arabic;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    
    
    color: #00A0D7;  
}

.LoginBtn{
font-family: Neo Sans Arabic;
width: 400px;
height: 45px;
background: #00A0D7;
border-radius: 8px;
border: none;
margin-top: 20px;
margin-left: 33px;
}

.Form{
    margin-top: 15%;
    margin-left: 120px;
    
}

.form_header{
    display: flex;
    flex-direction: column;
}


.form_header span{

    margin-bottom: 40px;
}

.col{
    margin: 0 !important;
    padding: 0 !important;
}

.Login_img{
    width: 600px;
}